@charset "utf-8";

.green-bg {
	background-color:#E0FFE7;
}

.lightgreen-bg {
	background-color:#F2FFF2;
}

.yellow-bg {
	background-color:#F5FFD1;
}

.blue-bg {
	background-color:#A1D0ED;
}

#bg{
	background-image: url("http://planete-issam.e-monsite.com/medias/images/series-tv-29-avril-2013.jpg");
}


#header{
	background-image: url("http://bgfons.com/upload/aluminum_texture1784.jpg");
	border: 5px outset grey;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}


#title {
	text-align: center;
	color: white;
}
